*,
*::after,
*::before{
    box-sizing: border-box;
}

html{

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}


.header {
    background-color: #F9F6F1;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 1px;
    width: 1275px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}


.logo__image {
    padding-top: 57px;
    padding-right: 10px;
}

.menu__item {
    display: inline;
    justify-content: space-between;
    list-style: none;
    margin: 15px;
    padding-right: 40px;
}

.item__link {
    text-decoration: none;
    color: black;
}

.item__link:hover {
    color: rgb(199, 184, 184);
    text-decoration: underline;
}

.link__polygon {
    padding-left: 3px;
}

.navigation {
    padding-left: 161px;
    padding-bottom: 60px;
    padding-top: 56px;
}

.header__submit {
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.02em;
    font-weight: 400;
}

.header__title {
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    letter-spacing: 0.04em;
}

.header__info {
    margin-left: 150px;
}

.start__inner {
    display: flex;
    justify-content: space-between;
}

.shoes__image {
    margin-right: 50px;
    padding-bottom: 100px;
}

.btn {
    background-color: #D7B399;
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    padding: 17px 29px 18px 30px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.btn:hover {
    background-color: #e7ab80;
    color: #333;
}

.slider {
    text-align: center;
}

.footer {
    margin-top: 20px;
    position: absolute;
    width: 1275px;
    height: 240px;
    left: 0px;
    background: #212121;
}

.free-shipping__text {
    color: #FFFF;
    font-weight: 700;
    font-size: 30px;
    line-height: 35,16px;
    text-align: center;
    padding: 80px 0px 0px;
}

.free-shipping__text span {
    color: #FFFF;
    font-weight: 400;
    font-size: 30px;
    line-height: 36,57px;
}

.free-shipping__paragraph {
    color: #FFFF;
    font-weight: 300;
    font-size: 21px;
    line-height: 25,6px;
    text-align: center;
    margin-bottom: 23px;
}

.header__second {
    background-color: #FFFF;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 10px;
    background-image: url('/img/Rectangle3.png');
    justify-content: space-between;
    display: flex;
}

.header__card{
    position: absolute;
    width: 631px;
    height: 330px;
    left: 0px;
    top: 950px;
    background: #F9F6F1;
    background-image: url('/img/Rectangle3.png');
    display: inline-block;
}

.card__subtitle {
    margin-left: 150px;
    font-weight: 300;
    font-size: 24px;
    line-height: 28,13px;
}

.card__subtitle span {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.card__text {
    margin-left: 150px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 20px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.card__photo {
    margin-left: 440px;
    padding-top: 10px;
}

.card__svg {
    margin-left: 150px;
}

.header__button:hover {
    color: #0000;
}

.header__secondcard {
    position: absolute;
    width: 645px;
    height: 330px;
    left: 630px;
    top: 0px;
    background: #F4F4F4;
}


.catalog__item {
    position: absolute;
    width: 277px;
    height: 236px;
    left: 0px;
    right: 400px;
    top: 330px;
    background: url(../img/catalog__item.svg), #F4F4F4;
}

.catalog__item2 {
    position: absolute;
    width: 277px;
    height: 236px;
    left: 270px;
    right: 400px;
    top: 330px;
    background: url(../img/catalog__item.svg), #F4F4F4;
}

.catalog__item_3 {
    position: absolute;
    width: 277px;
    height: 236px;
    left: 355px;
    right: 400px;
    top: 330px;
    background: url(../img/catalog__item.svg), #F4F4F4;
}

.catalog__item_4 {
    position: absolute;
    width: 277px;
    height: 236px;
    left: 80px;
    right: 300px;
    top: 330px;
    background: url(../img/catalog__item.svg), #F4F4F4;
}

.catalog__item6 {
    position: absolute;
    width: 277px;
    height: 236px;
    left: 270px;
    right: 90px;
    top: 565px;
    background: url(../img/catalog__item.svg), #F4F4F4;
}

.catalog__item_7 {
    position: absolute;
    width: 277px;
    height: 236px;
    left: 80px;
    right: 350px;
    top: 565px;
    background: url(../img/catalog__item.svg), #F4F4F4;
}

.catalog__item_8 {
    position: absolute;
    width: 277px;
    height: 236px;
    left: 357px;
    right: 350px;
    top: 565px;
    background: url(../img/catalog__item.svg), #F4F4F4;
}

.catalog__item5 {
    position: absolute;
    width: 277px;
    height: 236px;
    left: 0px;
    right: 400px;
    top: 565px;
    background: url(../img/catalog__item.svg), #F4F4F4;
}

.footer_1 {
    margin-top: 100px;
    position: absolute;
    width: 1920px;
    height: 182px;
    left: 0px;
    background: #212121;
}

.footer__text {
    color: #Ffff;
    font-weight: 400;
    font-size: 30px;
    line-height: 35,16px;
    padding: 65px 50px 0px;
}

.form {
    position: absolute;
    width: 255px;
    height: 40px;
    left: 650px;
    border: 0;
    top: 80px;
    background-color: #F9F6F1;
}

.input {
    width: 255px;
    height: 40px;
}

.submit__btn {
    position: absolute;
    width: 185px;
    height: 40px;
    left: 300px;
    top: 0px;
    background-color: #D7B399;
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    padding: 12px 14px 11px 13.5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}